snippet arghs "ArghParser with subcommands" b
parser = argh.ArghParser()
parser.add_commands([$1`!p snip.rv=t[1]`])
parser.dispatch()
endsnippet

snippet isfc "isfile guard for console" b
if not os.path.isfile($1):
    sys.stderr.write("File {} does not exist.{}".format($1, os.linesep))
    return
$0
endsnippet
