[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = git://github.com/godlygeek/csapprox.git
[submodule "bundle/pytest.vim"]
	path = bundle/pytest.vim
	url = git://github.com/alfredodeza/pytest.vim
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "bundle/plantuml-syntax"]
	path = bundle/plantuml-syntax
	url = git://github.com/aklt/plantuml-syntax.git
[submodule "bundle/wmgraphviz.vim"]
	path = bundle/wmgraphviz.vim
	url = git://github.com/wannesm/wmgraphviz.vim.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = git://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/ultisnip"]
	path = bundle/ultisnip
	url = git://github.com/SirVer/ultisnips.git
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = git://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-jinja2-syntax"]
	path = bundle/vim-jinja2-syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-fsharp"]
	path = bundle/vim-fsharp
	url = https://github.com/fsharp/vim-fsharp.git
[submodule "bundle/vim-xpath"]
	path = bundle/vim-xpath
	url = https://github.com/actionshrimp/vim-xpath.git
[submodule "bundle/vim-hy"]
	path = bundle/vim-hy
	url = git@github.com:hylang/vim-hy.git
[submodule "bundle/vim-virtualenv"]
	path = bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule "bundle/vim-behave"]
	path = bundle/vim-behave
	url = https://github.com/rooprob/vim-behave.git
[submodule "bundle/vim-bitbake"]
	path = bundle/vim-bitbake
	url = https://github.com/kergoth/vim-bitbake.git
[submodule "bundle/vim-easytags"]
	path = bundle/vim-easytags
	url = git@github.com:xolox/vim-easytags.git
[submodule "bundle/file-line"]
	path = bundle/file-line
	url = git@github.com:bogado/file-line.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "bundle/vim-ctrlp-tjump"]
	path = bundle/vim-ctrlp-tjump
	url = git@github.com:ivalkeen/vim-ctrlp-tjump.git
[submodule "bundle/lldb.nvim"]
	path = bundle/lldb.nvim
	url = git@github.com:critiqjo/lldb.nvim.git
[submodule "bundle/ferret"]
	path = bundle/ferret
	url = git@github.com:wincent/ferret.git
[submodule "bundle/vim-devicons"]
	path = bundle/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "bundle/vim-classpath"]
	path = bundle/vim-classpath
	url = git@github.com:tpope/vim-classpath.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = git@github.com:guns/vim-clojure-static.git
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = git@github.com:tpope/vim-fireplace.git
[submodule "bundle/vim-salve"]
	path = bundle/vim-salve
	url = git@github.com:tpope/vim-salve.git
[submodule "bundle/vim-projectionist"]
	path = bundle/vim-projectionist
	url = git@github.com:tpope/vim-projectionist.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/vim-taglist"]
	path = bundle/vim-taglist
	url = git@github.com:esukram/vim-taglist.git
[submodule "bundle/nvim-ipy"]
	path = bundle/nvim-ipy
	url = git@github.com:bfredl/nvim-ipy.git
[submodule "bundle/vim-cpp-enhanced-highlight"]
	path = bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
